<footer class="footer bg-light text-center text-lg-start">
  <div class="text-center p-3">
    © <%= Time.current.year %> Y
    <div>
      <a href="#">Facebook</a> |
      <a href="#">Twitter</a> |
      <a href="#">Instagram</a>
    </div>
  </div>
</footer>
